.row
  .col-md-6
    = simple_form_for(@friend) do |f|
      = f.input :name, :input_html => {:maxlength => 40, :size => 40}
      = f.input :zip_code, :input_html => {:maxlength => 40, :size => 40}
      = f.input :address, :input_html => {:maxlength => 40, :size => 40}
      = f.input :number, :input_html => {:maxlength => 40, :size => 40}
      = f.input :neighborhood, :input_html => {:maxlength => 40, :size => 40}
      = f.input :city, :input_html => {:maxlength => 40, :size => 40}
      = f.input :state, :input_html => {:maxlength => 40, :size => 40}

      = f.button :submit, class: "btn btn-success"