
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, :lang => I18n.locale}
  %head
    %title
      Trip Planner
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/navbar"
    .container-fluid
      = #render partial: "layouts/admin/flash_messages", flash: flash
      = yield